@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dbbba680;
  background: linear-gradient(
    90deg,
    rgba(219, 187, 166, 0.8) 0%,
    rgba(173, 130, 92, 0.8) 97%
  );
}
header {
  width: 100%;
  height: 3rem;
  background-color: #7699aa;
  backdrop-filter: blur(2rem);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo {
  height: 100%;
  margin-left: 4vw;
}
.logo img {
  height: 100%;
}
.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
  margin-bottom: 10px;
}

.navbar a {
  font-size: 1.15rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

main {
  position: relative;
  top: 3rem;
  width: 65%;
  max-width: 1000px;
  height: 100%;
}

.container-carousel {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: white;
  box-shadow: 0 8px 32px 0 rgba(219, 218, 218, 0.66);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.carruseles {
  width: 500%;
  height: 100%;
  display: flex;
}

.slider-section {
  width: calc(100% / 5);
  height: 100%;
}

.slider-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.btn-left,
.btn-right {
  width: 8%;
  height: 100%;
  position: absolute;
  top: 50%;
  font-size: 4rem;
  background-color: transparent;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(74, 74, 74);
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
.btn-left:hover,
.btn-right:hover {
  color: white;
  background-color: #90685b37;
}
.btn-right {
  right: 0px;
}

h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Baskervville SC";
  text-align: center;
}
.platillos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.platillos p,
.platillos h2 {
  font-family: "Montserrat";
}
.presentacion {
  margin-top: 20px;
  width: 80%;
  height: 400px;
  padding: 3rem;
  background-color: #f8e9df;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.presentacion img {
  width: 30vh;
  height: 30vh;
  border-radius: 20px;
}

.interior-presentacion {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.interior-presentacion h2 {
  margin-top: 1rem;
  text-align: center;
  font-family: "Nunito";
  font-size: 1.6rem;
}
.interior-presentacion div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interior-presentacion p {
  font-size: 1.4rem;
  text-align: left;
  padding: 0 2rem;
  font-family: "Nunito";
}
.image {
  height: 100%;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(images/coffe-presentation.jpg);
  border-radius: 1rem;
}

.platillo {
  flex-direction: row-reverse;
}

.platillo div:first-child {
  padding: 2rem;
  padding-top: 3rem;
  padding-right: 0;
  justify-content: flex-start;
}
.platillo p {
  font-size: 1.3rem;
  padding-right: 0;
}

#img-platillo1 {
  background-image: url(images/platillo1-capuchino.jpg);
  background-position: -3rem 0rem;
}
#img-platillo2 {
  background-image: url(images/platillo3-americano.jpg);
  background-position: -3rem 0rem;
}
#img-platillo3 {
  background-image: url(images/platillo2-espresso.jpg);
  background-position: -3rem 0rem;
}
